@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#1D3C5D] text-[#D0DFF0]
}


@keyframes cloudMove {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-200vw);
    }

}

.cloudImage {
    width: 2rem;
    height: 2rem;
    animation: cloudMove 20s linear infinite;


}

@keyframes duckRunningAnimation {
    0% {
        background-image: url("../src/assets/frame1.png");
    }

    50% {
        background-image: url("../src/assets/frame2.png");
    }

    100% {
        background-image: url("../src/assets/frame3.png");
    }
}

#duckImage {
    animation: duckRunningAnimation 0.4s infinite;
}

.obstacle {
    position: absolute;
    width: 20px;
    /* background-color: red; */
}

html,
body {
    overflow-x: hidden;
}